[Unit]
Description=k8s-setup-kubelet-config Service
After=k8s-setup-network-env.service docker.service
Requires=k8s-setup-network-env.service docker.service
[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=0
EnvironmentFile=/etc/network-environment
ExecStart=/bin/bash -c '/usr/bin/envsubst </etc/kubernetes/config/kubelet.yaml.tmpl >/etc/kubernetes/config/kubelet.yaml'
[Install]
WantedBy=multi-user.target
