[Unit]
Description=Kubernetes Addons
Wants=k8s-kubelet.service k8s-setup-network-env.service
After=k8s-kubelet.service k8s-setup-network-env.service
[Service]
Type=oneshot
ExecStart=/opt/k8s-addons
# https://github.com/kubernetes/kubernetes/issues/71078
ExecStartPost=/usr/bin/systemctl restart k8s-kubelet.service
[Install]
WantedBy=multi-user.target
