[Unit]
Description=k8s-setup-network-env Service
Wants=network.target docker.service wait-for-domains.service
After=network.target docker.service wait-for-domains.service
[Service]
Type=oneshot
TimeoutStartSec=0
Environment="IMAGE={{ .Docker.NetworkSetup.Image }}"
Environment="NAME=%p.service"
ExecStartPre=/usr/bin/mkdir -p /opt/bin/
ExecStartPre=/usr/bin/docker pull $IMAGE
ExecStartPre=-/usr/bin/docker stop -t 10 $NAME
ExecStartPre=-/usr/bin/docker rm -f $NAME
ExecStart=/usr/bin/docker run --rm --net=host -v /etc:/etc --name $NAME $IMAGE
ExecStop=-/usr/bin/docker stop -t 10 $NAME
ExecStopPost=-/usr/bin/docker rm -f $NAME
[Install]
WantedBy=multi-user.target
