[Unit]
Description=Pulls hyperkube binary from image to local FS
After=docker.service
Requires=docker.service
[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=0
Environment="IMAGE={{ .Spec.Registry.Domain }}/{{ .Spec.Kubernetes.Image }}"
Environment="NAME=%p.service"
ExecStartPre=/bin/bash -c "/usr/bin/docker create --name $NAME $IMAGE"
ExecStart=/bin/bash -c "/usr/bin/docker cp $NAME:/hyperkube /opt/bin/hyperkube"
ExecStartPost=/bin/bash -c "/usr/bin/docker rm $NAME"
[Install]
WantedBy=multi-user.target
