[Unit]
Wants=k8s-setup-network-env.service k8s-setup-kubelet-config.service k8s-setup-download-hyperkube.service
After=k8s-setup-network-env.service k8s-setup-kubelet-config.service k8s-setup-download-hyperkube.service
Description=k8s-kubelet
StartLimitIntervalSec=0
[Service]
TimeoutStartSec=300
Restart=always
RestartSec=0
TimeoutStopSec=10
Slice=kubereserved.slice
CPUAccounting=true
MemoryAccounting=true
Environment="ETCD_CA_CERT_FILE=/etc/kubernetes/ssl/etcd/server-ca.pem"
Environment="ETCD_CERT_FILE=/etc/kubernetes/ssl/etcd/server-crt.pem"
Environment="ETCD_KEY_FILE=/etc/kubernetes/ssl/etcd/server-key.pem"
EnvironmentFile=/etc/network-environment
ExecStart=/opt/bin/hyperkube kubelet \
  {{ range .Spec.Kubernetes.Kubelet.CommandArgs -}}
  {{ . }} \
  {{ end -}}
  --node-ip=${DEFAULT_IPV4} \
  --config=/etc/kubernetes/config/kubelet.yaml \
  --enable-server \
  --logtostderr=true \
  --cloud-provider={{ .Spec.Provider }} \
  --image-pull-progress-deadline={{ .Spec.Registry.PullProgressDeadline }} \
  --network-plugin=cni \
  --register-node=true \
  --register-with-taints=node-role.kubernetes.io/master=:NoSchedule \
  --kubeconfig=/etc/kubernetes/kubeconfig/kubelet.yaml \
  --node-labels="node.kubernetes.io/master,node-role.kubernetes.io/master,kubernetes.io/role=master,role=master,ip=${DEFAULT_IPV4},{{ .Spec.Kubernetes.Kubelet.Labels }}" \
  --v=2
[Install]
WantedBy=multi-user.target
