[Unit]
Description=Change group owner for certificates to giantswarm
Wants=k8s-kubelet.service k8s-setup-network-env.service
After=k8s-kubelet.service k8s-setup-network-env.service
[Service]
Type=oneshot
ExecStart=/bin/sh -c "find /etc/kubernetes/ssl -name '*.pem' -print | xargs -i  sh -c 'chown root:giantswarm {} && chmod 640 {}'"
[Install]
WantedBy=multi-user.target
